.products{
  display: grid;
  grid-template-columns: 1fr 1fr;
  object-fit: cover;
  
}
.products img{
  width: 20%;
}
.product{
  padding: 10px;
  object-fit: cover;
  align-items: center;
}
button{
  font-size: 20px;
  padding: 10px;
}
header{
  background-color: rgba(243, 243, 12, 0.897);
  height: 70px;
  padding-top: 20px;
}